[submodule "staging/share"]
	path = staging/share
	url = https://github.com/arrkiin/Godot-Share
[submodule "staging/admob"]
	path = staging/admob
	url = https://github.com/arrkiin/godot-admob
[submodule "staging/vibration"]
	path = staging/vibration
	url = https://github.com/arrkiin/Godot-Mobile-Vibration
